* {
    font-family: "Noto Serif Korean";
}

/* 전체 배경과 텍스트 스타일 지정 */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 수직 가운데 정렬 */
    /* align-items: center; */
    /* 수평 가운데 정렬 */
    min-height: 100vh;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* 배경 이미지를 고정하여 스크롤 시 움직이지 않도록 설정 */
}

/* 태그를 숨기거나 나타나게 하는 애니메이션 효과 */
.hidden {
    opacity: 0;
    transition: opacity 0.5s linear;
}

.opened {
    opacity: 1;
    transition: opacity 0.5s linear;
}

/* 편지지 스타일 */
#postcard {
    position: absolute;
    width: 30%;
    /* 너비 설정 */
    /* height: 210px; */
    /* 높이 설정 */
    margin-bottom: 50px;
    /* 아래에서 50px 띄우기 */
    left: 10%;
    bottom: 40%;
}

.postcard-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 이미지가 잘리지 않도록 설정 */
}

/* 텍스트 스타일 */
#msg-container {
    position: absolute;
    top: 48%;
    left: 68%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* 글자 색상 설정 */
    font-size: 12px;
    /* 글자 크기 설정 */
}

p {
    padding-left: 10px;
}

.p-message {
    color: black;
    margin-top: -10px;
    margin-left: -20px;
}

.p-name {
    color: black
}

/* 버튼 스타일 */
#btn-container {
    position: fixed;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    right: 10px;
}

button {
    width: 100%;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: brown;
}