/* 반응형 디자인 - 태블릿 및 작은 화면 (최대 768px) */
@media screen and (max-width: 768px) {
    #postcard {
        width: 30%;
    }

    #btn-container {
        width: relative;
    }

    #msg-container {
        position: absolute;
        top: 48%;
        left: 68%;
        transform: translate(-50%, -50%);
        text-align: center;
        /* 글자 색상 설정 */
        font-size: 5px;
        /* 글자 크기 설정 */
    }

    .p-message {
        color: black;
        margin-top: -10px;
        margin-left: -20px;
    }

    .p-name {
        position: relative;
    }
}

/* 반응형 디자인 - 모바일 (최대 480px) */
@media screen and (max-width: 480px) {
    #postcard {
        width: 30%
    }

    #btn-container {
        width: 300px;
    }

    .p-message {
        font-size: 15px;
    }

    .p-name {
        font-size: 13px;
        padding-right: 30px;
    }
}